

header , main{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

main{
    padding-top: -120px;
}

/* .text-skill{
    width: 70%;

} */
h1{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 71px;

/* 13183F */

color: #13183F;

}
p{
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* or 156% */


/* 83869A */

color: #83869A;
}

.img-lg>img{
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
}
.btn-1{
background: #13183F;
border-radius: 28px;
height: 56px;
width: 167px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;



}

.btn-2{
background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
border-radius: 31.5px;
height: 63px;
width: 167px;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 28px;
color: #FFFFFF;
margin-top: 15px;
}

.one-card{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%) !important;
border-radius: 15px;
text-align: center;
padding: 80px  0 80px 0;
font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 800;
font-size: 32px;
line-height: 40px;
/* or 125% */


/* FFFFFF */

color: #FFFFFF;
}

.btn{
    background-color: transparent !important;
    color: #F74780;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    border:none !important ;
    outline: none !important;
  
}

.btn-1 , .btn-2{
    border:none !important ;
    outline: none !important;
}
.btn:hover{
    color: #F74780;
}
footer{
    height: 120px;
left: 0px;
top: 1725px;

/* 13183F */

background: #13183F;

}
footer > .container {
    display: flex;
justify-content: space-evenly;
align-items: center;
}
